.book {
    width: 50%;
    padding: 0.5em 1em;
    margin: 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 3px #5989cf;
}

.book-isbn {
    float: right;
}

.book-status {
    width: 50px;
    text-align: center;
    float: right;
    border: 1px solid black;
    padding: 0px 10px;
    background-color: #ffffff;
}

.status-green {
    color: #2e7d32;
}

.status-red {
    color: #c62828;
}

.line {
    display: flex;
    justify-content: space-between;
}

.checkout {
    float: right;
}

.return {
    float: right;
    margin-left: auto;
}

.tab-switch {
    --tab-color: #5989cf;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 5px;
}

/* orderでラベルの表示順を先頭に持ってきている */
.tab-switch label {
    padding: 0.7em 1em;
    background: #cde4ff;
    cursor: pointer;
    order: -1; 
    text-align: center;
}

/* 最初は非表示 */
.tab-switch input {
    display: none;
}
.tab-content {
    display: none;
    width: 100%;
}

/* 選択された時に表示を変える */
.tab-switch label:has(:checked) {
    background: var(--tab-color);
    color: white;
}
.tab-switch label:has(:checked)+.tab-content {
    display: block;
}