.book-row{
    width:700px;
    border:1px solid #ccc;
    border-radius:12px;
    padding:12px;
    margin-bottom:3px;
    background:white;
}

.book-row:hover{
    background:#f7f7f7;
}

.book-line1{
    display:flex;
    justify-content:space-between;
}

.book-title{
    font-weight:bold;
}

.book-isbn{
    color:#666;
}

.book-date{
    color:#555;
}

.book-line2{
    margin-top:6px;
    display:flex;
    justify-content:space-between;
}

.status-green{
    color:#065f46;
    background:#d1fae5;
    padding:2px 6px;
    border-radius:4px;
    font-weight:bold;
}

.status-red{
    color:#991b1b;
    background:#fee2e2;
    padding:2px 6px;
    border-radius:4px;
    font-weight:bold;
}